.character {
  background-color: #eee;
  padding: 16px;
  border-radius: 8px;
}

.character h2 {
  margin: 8px 0 4px;
}

.character .gender {
  color: #aaa;
}
.character .fav-button {
  display: block;
  width: 16px;
  height: 16px;
  margin-left: auto;

  border: 2px solid orange;

  background: none;
}

.character .fav-button.active {
  background: orange;
}
